@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto-Bold.woff2") format("woff2"),
    url("./Fonts/Roboto-Bold.woff") format("woff"),
    url("./Fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto-Regular.woff2") format("woff2"),
    url("./Fonts/Roboto-Regular.woff") format("woff"),
    url("./Fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #36384e;
  overflow:;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  background-color: white;
  border-radius: 40px;
  width: 930px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.textSection {
  color: #242742;
}

.imgSection {
  position: relative;
  margin-top: 25px;
  margin-bottom: 19.5px;
  left: 40px;
}

.textSection h1 {
  margin-top: 90px;
  font-size: 55px;
  margin-left: 65px;
}

.textSection p {
  margin-left: 65px;
  margin-top: 20px;
  line-height:;
}

.textSection ul {
  margin-top: 30px;
  margin-left: 77px;
}

.textSection li {
  margin-bottom: 15px;
}

.textSection form {
  margin-left: 65px;
  margin-top: 40px;
}

.textSection label {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
}

#Email {
  width: 94%;
  height: 55px;
  border-radius: 7px;
  border: 1px solid #9294a0;
  margin-top: 5px;
}

#Email::placeholder {
  padding-left: 25px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}

#newsletter {
  width: 94%;
  height: 55px;
  background-color: #242742;
  color: white;
  margin-top: 25px;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  border: none;
}

ul li {
  list-style: none; 
}

ul li::before {
  content: url(./Images/icon-list.svg);
  position: relative;
  right: 12px;
  top: 5px;
}

@media (max-width: 1160px) {

  .container {
    width: 100vw;
    border-radius: 0px;
  }

}

@media (max-width: 880px) {
  .imgSection {
    display: none;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;

  }

  .centerMobile {
    order: -1;
    text-align: center;
  }

  #mobileImage {
    height: 40vh;
  }

  .textSection h1 {
    margin-top: 0px;
  }



}

@media (min-width: 880px) {
  #mobileImage {
    display: none;
  }
}

@media (max-width: 475px) {
  #mobileImage {
    width: 100vw;
    height: auto;
  }

  .textSection {
    width: 90%;
  }

 .textSection h1 {
  margin-left: 25px;
  font-size: 40px;
 }

 .textSection p {
  margin-left: 25px;
 }

 .textSection ul {
  margin-left: 35px;
 }

 .textSection form {
  margin-left: auto;
  margin-right: auto;
 }

 .container {
  height: 90vh;
  position: relative;
  bottom: 46px
 }

 ul li {
  text-indent: -1.35em;
  margin-left: 26px;
 }

 body {
  background-color: white;
 }


}